:host {

  display: flex;
  flex-direction: column;
  min-height: 100vh;

  header {
    background-color: darkcyan;
    padding: 1rem;
    text-align: center;

    h1 {
      font-size: 2rem;
      font-weight: bold;
    }

  }

  nav{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: gold;

    .links {
      display: flex;
      gap: 1rem;
    }
  }

  main {
    flex: 1;
  }

  footer {
    padding: 0.5rem;
    background-color: darkcyan;
    text-align: center;
  }
}
